@import "src/styles/styles";


.table-wrapper{
  height: 100%;
  .custom-table{
    width: 100%;
    table{
      width: inherit;
      border-spacing: unset;
      tr:nth-of-type(odd) {
        background-color:$gray;
      }

      tr:nth-of-type(even) {
        background-color:$white;
      }
    }
  }
}
